{% extends 'fund/base.html' %}
{% load static %}

{%block title_block %}
    Application View
{% endblock %}

{% block body_block %}
<main role="main" class="inner cover">
    <div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading text-center">Application Status</h1>
            <span id="app_id" hidden="">{{application.id}}</span>
            <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
              {% if request.user.is_staff %}
              <form id = "ReviewForm" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="app_status"><strong>{{statusform.app_status.label}}</strong></label>
                {{ statusform.app_status }}
                <input type="submit" value="Submit" class="btn btn-primary" onclick="">
              </form>
              {% endif %}
            </div>
            <p class="lead text-center">{% if not user.is_superuser %}Your application{% else %}Application{% endif %} status is:
              <br>
              {% if application.app_status == 'Accepted' %}
              <h2 class="cover-heading text-center" style="color: green;">{{ application.app_status }}</h2>
              {% elif application.app_status == 'Pending' %}
              <h2 class="cover-heading text-center" style="color: orange;">{{ application.app_status }}</h2>
              {% else %}
              <h2 class="cover-heading text-center" style="color: red;">{{ application.app_status }}</h2>
              {% endif %}
        </div>
    </div>
    <hr>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Application Summary</h4>
            </div>
            <div class="card-body">
                {% for field in application_form %}
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ field.label_tag }}</h5>
                    <p class="card-text">{{ field.value }}</p>
                    {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="card">
        <div class="card-header">
            <div class="row">

                <div class="col-4">
                    Comments
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    {% if admin %}
            <a class="btn btn-secondary btn-sm" href="{%url 'fund:add_comment' application.id%}" role="button">Add Comment</a>
        {% endif %}
                </div>

            </div>


        </div>
        <div class="card-body">
        {% for comment in comments %}
        <div class="card p-3 m-3" style="width: 70rem;">
             <h5 class="card-title">{{comment.comment}}</h5>
            <p class="card-text">{% if admin %}Commented by <a href="{% url 'fund:user_profile' comment.user.username %}">{{comment.user.username}}</a> on {% endif %}{{comment.date}}</p>

        </div>
        {% endfor %}
        </div>
    </div>
    </div>



</main>
{% endblock %}

{% block javascript_block%}
{% endblock %}
