{% extends 'fund/base.html' %}
{% load static %}

{%block title_block %}
    Application View
{% endblock %}

{% block body_block %}
<main role="main" class="inner cover">
    <div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading text-center">Application Status</h1>
            <span id="app_id" hidden="">{{application.id}}</span>
            <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
              {% if request.user.is_staff %}
              <form id = "ReviewForm" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="app_status"><strong>{{statusform.app_status.label}}</strong></label>
                {{ statusform.app_status }}
                <input type="submit" value="Submit" class="btn btn-primary" onclick="">
              </form>
              {% endif %}
            </div>
            <p class="lead text-center">{% if not user.is_superuser %}Your application{% else %}Application{% endif %} status is:
              <br>
              {% if application.app_status == 'Accepted' %}
              <h2 class="cover-heading text-center" style="color: green;">{{ application.app_status }}</h2>
              {% elif application.app_status == 'Pending' %}
              <h2 class="cover-heading text-center" style="color: orange;">{{ application.app_status }}</h2>
              {% else %}
              <h2 class="cover-heading text-center" style="color: red;">{{ application.app_status }}</h2>
              {% endif %}
        </div>
    </div>
    <hr>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading text-center">Application Summary</h1>

        </div>
    <div class="container">
        <div class="row">
        <div class = "container-fluid pb-3 col-10 border rounded-1 px-5 p-5">
            {% for field in application_form %}

            <div class="fieldWrapper">
                <p class="lead"><strong>{{ field.label_tag }} </strong>&nbsp; <br>{{ field.value }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
    </div>

    <hr>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading text-center">Comments</h1>
        <br>
        {% if admin %}
        <a class=" btn btn-primary btn-lg" href="{%url 'fund:add_comment' application.id%}">Add Comment</a>
        {% endif %}
        </div>

    <div class="row">
        <div class = "container-fluid pb-3 col-10 rounded-1 px-5 p-5">
            {% for comment in comments %}
            <div class = "container-fluid pb-3 rounded-1 px-5 p-5">
                {{comment.comment}}
                <br>
                {% if admin %}Commented by <a href="{% url 'fund:user_profile' comment.user.username %}">{{comment.user.username}}</a> on {% endif %}{{comment.date}}
            </div>
            {% endfor %}
        </div>

    </div>
    <hr>



</main>
{% endblock %}

{% block javascript_block%}
function sendStatus(){

            var app_id = $("#app_id").val();
            var status = $("#orderType").val()
            $.ajax({
                url:"{% url 'fund:add_item_spend' %}',
                type:'POST',
                data:{appId:app_id,status = status}
            })

}
{% endblock %}
