

{% extends 'fund/base.html' %}
{% block title_block %}
    Application
{% endblock %}
{% block body_block %}

    <div class = "container-fluid pb-3 col-4 border rounded-1 px-5 p-5">
        <h1 class="text-center"> Application Form </h1>
        <form id = "ApplicationForm" method="post" action="{% url 'fund:application' %}">
            {% csrf_token %}
            {{ApplicationForm.as_p}}
            <input type="submit" value="Apply" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
