{% extends 'fund/base.html' %}
{% load static %}

{%block title_block %}
    Application View
{% endblock %}

{% block body_block %}
<main role="main" class="inner cover">
    <div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading text-center">Application Status</h1>
            <span id="app_id" hidden="">{{application.id}}</span>
            <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
              {% if request.user.is_staff %}
              <form id = "ReviewForm" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="app_status"><strong>{{statusform.app_status.label}}</strong></label>
                {{ statusform.app_status }}
                <input type="submit" value="Submit" class="btn btn-primary" onclick="">
              </form>
              {% endif %}
            </div>
            <p class="lead text-center">{% if not user.is_superuser %}Your application{% else %}Application{% endif %} status is:
              <br>
              {% if application.app_status == 'Accepted' %}
              <h2 class="cover-heading text-center" style="color: green;">{{ application.app_status }}</h2>
              {% elif application.app_status == 'Pending' %}
              <h2 class="cover-heading text-center" style="color: orange;">{{ application.app_status }}</h2>
              {% else %}
              <h2 class="cover-heading text-center" style="color: red;">{{ application.app_status }}</h2>
              {% endif %}
        </div>
    </div>
    <hr>


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Application Summary</h4>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.organisationName.label }}</h5>
                    <p>Please tell us the name of your organisation:</p>
                    <p class="card-text">{{ application_form.organisationName.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.projectTitle.label }}</h5>
                    <p>Please tell us the title of your proposed project:</p>
                    <p class="card-text">{{ application_form.projectTitle.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.CH_OSCR_number.label }}</h5>
                    <p>If you have a Companies House or OSCAR Registration number please include below:</p>
                    <p class="card-text">{{ application_form.CH_OSCR_number.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.projectDesc.label }}</h5>
                    <p>Please briefly tell us about your project and what you are looking to achieve:</p>
                    <p class="card-text">{{ application_form.projectDesc.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.userGroupDesc.label }}</h5>
                    <p>Please describe your user group and your understanding of their needs?</p>
                    <p class="card-text">{{ application_form.userGroupDesc.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.learningOpp.label }}</h5>
                    <p>Tell us how learning opportunities will be used to adapt and improve the project plan? How will you share and reflect on your experiences?</p>
                    <p class="card-text">{{ application_form.learningOpp.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.keyPartnersWork.label }}</h5>
                    <p>How have you worked with key partner/s to understand and develop a holistic approach to delivering wider benefits? <br>Is there an agreed schedule and format for regular exchanges?</p>
                    <p class="card-text">{{ application_form.keyPartnersWork.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.projImpactClimate.label }}</h5>
                    <p>How will your project impact on the climate and environment? What actions for positive impacts will you take?</p>
                    <p class="card-text">{{ application_form.projImpactClimate.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.projSupportLocBus.label }}</h5>
                    <p>How will your project will support and/or create local business and/or employment opportunities?</p>
                    <p class="card-text">{{ application_form.projSupportLocBus.value }}</p>
                </div>
            </div>

            <div class="card-body">
                <div class="card p-3 m-3" >
                    <h5 class="card-title">{{ application_form.proContribution.label }}</h5>
                    <p>How will your project contribute to individual and/or community well-being? How will your project contribute to local social inclusion and community resilience?</p>
                    <p class="card-text">{{ application_form.proContribution.value }}</p>
                </div>
            </div>

<!--            <div class="card-body">-->
<!--                <div class="card p-3 m-3">-->
<!--                    <h5 class="card-title">{{ application_form.application_complete.label }}</h5>-->
<!--                      <p class="card-text">{{ application_form.application_complete.value }}</p>-->
<!--                  </div>-->
<!--              </div>-->

        </div>
    </div>



    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="card">
        <div class="card-header">
            <div class="row">

                <div class="col-4">
                    Comments
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    {% if admin %}
            <a class="btn btn-secondary btn-sm" href="{%url 'fund:add_comment' application.id%}" role="button">Add Comment</a>
        {% endif %}
                </div>

            </div>


        </div>
        <div class="card-body">
        {% for comment in comments %}
        <div class="card p-3 m-3" style="width: 70rem;">
             <h5 class="card-title">{{comment.comment}}</h5>
            <p class="card-text">{% if admin %}Commented by <a href="{% url 'fund:user_profile' comment.user.username %}">{{comment.user.username}}</a> on {% endif %}{{comment.date}}</p>

        </div>
        {% endfor %}
        </div>
    </div>
    </div>



</main>
{% endblock %}

{% block javascript_block%}
{% endblock %}
