
{% extends 'fund/base.html' %}
{% block title_block %}
    Application
{% endblock %}
{% block body_block %}

    <div class = "container-fluid pb-3 col-8 border rounded-1 px-5 p-5">
        <h1 class="text-center"> Application Form </h1>
        <br>
        <h5><strong>1. Project Description -</strong> Please tell us about your organisation and what your project is looking to achieve</h5>
        <form id = "ApplicationForm" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row-6">
              <label for="organisationName"><strong>{{form.organisationName.label}}</strong></label>
              <p>Please tell us the name of your organisation:</p>
              {{form.organisationName}}
            </div>
            <br>
            <div class="form-row">
              <label for="projectTitle"><strong>{{form.projectTitle.label}}</strong></label>
              <p>Please tell us the title of your proposed project:</p>
              {{form.projectTitle}}
            </div>
            <br>
            <div class="form-row">
              <label for="CH_OSCR_number"><strong>{{form.CH_OSCR_number.label}}</strong></label>
              <p>If you have a Companies House or OSCAR Registration number please include below:</p>
              {{form.CH_OSCR_number}}
            </div>
            <br>
            <div class="form-row">
              <label for="projectDesc"><strong>{{form.projectDesc.label}}</strong></label>
              <p>Please briefly tell us about your project and what you are looking to achieve.. (Max 300 words)</p>
              {{form.projectDesc}}
            </div>
            <br>
            <h5><strong>2. Project Themes -</strong> Please complete the six themes</h5>
            <div class="form-row">
              <label for="userGroupDesc"><strong>{{form.userGroupDesc.label}}</strong></label>
              <p>Please describe your user group and your understanding of their needs?</p>
              {{form.userGroupDesc}}
            </div>
            <br>
            <div class="form-row">
              <label for="learningOpp"><strong>{{form.learningOpp.label}}</strong></label>
              <p>Tell us how learning opportunities will be used to adapt and improve the project plan? How will you share and reflect on your experiences?</p>
              {{form.learningOpp}}
            </div>
            <br>
            <div class="form-row">
              <label for="keyPartnersWork"><strong>{{form.keyPartnersWork.label}}</strong></label>
              <p>How have you worked with key partner/s to understand and develop a holistic approach to delivering wider benefits? <br>Is there an agreed schedule and format for regular exchanges?</p>
              {{form.keyPartnersWork}}
            </div>
            <br>
            <div class="form-row">
              <label for="projImpactClimate"><strong>{{form.projImpactClimate.label}}</strong></label>
              <p>How will your project impact on the climate and environment? What actions for positive impacts will you take?</p>
              {{form.projImpactClimate}}
            </div>
            <br>
            <div class="form-row">
              <label for="projSupportLocBus"><strong>{{form.projSupportLocBus.label}}</strong></label>
              <p>How will your project will support and/or create local business and/or employment opportunities?</p>
              {{form.projSupportLocBus}}
            </div>
            <br>
            <div class="form-row">
              <label for="proContribution"><strong>{{form.proContribution.label}}</strong></label>
              <p>How will your project contribute to individual and/or community well-being? How will your project contribute to local social inclusion and community resilience?</p>
              {{form.proContribution}}
            </div>
            <br>
            <div class="form-row">
              <label for="totalBudget"><strong>{{form1.totalBudget.label}}</strong></label>
              {{form1.totalBudget}}
            </div>
            <br>
            <div class="form-row">
              <label for="application_complete"><strong>{{form.application_complete.label}}</strong></label>
              {{form.application_complete}}
            </div>

            <br>
            <input type="submit" value="Apply" class="btn btn-primary" onclick="check_empty();">
            <br>
    </div>
{% endblock %}
{% block javascript_block %}
    <script>
        // check if any fields are empty

        function check_empty(){
        var flag = true;
        // get all input and check if any of them are empty
        var inputBoxes = document.querySelectorAll(".form-control"); // gives back a list of all nodes.
        console.log(inputBoxes);
        inputBoxes.forEach(inputBox=>{
            if (inputBox.value.length == 0){
                flag = false;
            };
            });
        if (!flag) {
            alert("You have left some fields empty, please leave the 'Is your application complete?' box unchecked. ");
        }
        else{
            alert("You have filled all fields, please update the 'Is your application complete?' checkbox accordingly.");
        };
        };
    </script>
{% endblock %}
