{% extend 'master_template.html' %}
{% load static %}

{% block body_block %}
<body>
<main role="main" class="inner cover">
    <div class="container-fluid">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <h1 class="cover-heading">Welcome to the funding portal</h1>
            <p class="lead">This is your current dashboard, you can see all your application that you have submitted
                and/or have in progress.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-8">
                <table class="table table-borderless">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Name: </td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>#</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="h3">Application</p><br>
        <p class="h4 text-muted">Apply for new application here.<a class="mt-3 mb-3 btn btn-primary" href="{%url 'fund:application' %}">Apply</a> </p>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Incomplete Applications
                </div>
                <div class="card-body">
                    <table class="dataTable table table-striped table-hover tableresponsive">
                        <thead>
                            <tr>
                                <th>Application ID</th>
                                <th>Application Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>application.id</td>
                            <td>application.projectTitle</td>
                            <td><a href="{% url 'fund:update_application application.id%}"> Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Completed Application
                </div>
                <div class="card-body">
                    <table id="dataTable" class="dataTable table table-striped table-hover tableresponsive">
                        <thead>
                            <tr>
                                <th>Application ID</th>
                                <th>Application Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>application.id</td>
                            <td>application.projectTitle</td>
                            <td><a href="#"> View Status </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
{% endblock %}