{% extends 'fund/base.html' %}
{% load static %}

{%block title_block %}
    Dashboard
{% endblock %}

{% block body_block %}

<main role="main" class="inner cover">
    <div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <h1 class="cover-heading text-center">Welcome to your  {% if admin %} admin {% endif %}dashboard</h1>
            <p class="lead text-center">This is your current dashboard, you can see all your application that you have submitted
                and/or have in progress.
            </p>
        </div>
    </div>
    <hr>
    <div class="container">
        <p class="h3 text-center">Profile</p>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'svg/person.svg'%}" class="img-fluid float-left" height=100 width=100 alt="Person Icon"/>
            </div>
            <div class="col-8">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                            <td>Username </td>
                            <td>{{username}}</td>
                        </tr>
                        <tr>
                            <td>Name: </td>
                            <td> {{full_name}}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td><a href="mailto:{{email}}">{{email}}</a></td>
                        </tr>
                    {% if contact %}
                        <tr>
                            <td>Contact: </td>
                            <td>{{contact}}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>

    {% if not admin %}
    <div class="container">
        <p class="h3 text-center">Application</p>
        <p class="h5 text-muted text-center">Want to apply for a new application?   <a class="mt-3 mb-3 btn btn-secondary" href="{% url 'fund:application_introduction' %}">Apply Here</a> </p>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <img src="{%static 'svg/table.svg' %}" alt="Table Icon" width=20 height=20 />
                    Incomplete Applications
                </div>
                <div class="card-body">
                    <table class="dataTable table table-striped table-hover tableresponsive">
                        <thead>
                            <tr>
                                <th>Application ID</th>
                                <th>Application Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in incomplete_applications %}
                        <tr>
                            <td>{{application.id}}</td>
                            {% if application.projectTitle %}
                            <td>{{application.projectTitle}}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            <td><a href="{%url 'fund:update_application' application.id %}"> Update</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <img src="{%static 'svg/table.svg' %}" alt="Table Icon" width=20 height=20/>
                    Completed Application
                </div>
                <div class="card-body">
                    <table id="dataTable" class="dataTable table table-striped table-hover tableresponsive">
                        <thead>
                            <tr>
                                <th>Application ID</th>
                                <th>Application Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in completed_applications %}
                        <tr>
                            <td>{{application.id}}</td>
                            <td>{{application.projectTitle}}</td>
                            <td><a href="#"> View Status </a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% else %}
     <div class="container">

        <div class="row">
            <div class="col-6">
                <p class="h3 text-center">Users</p>
                <div class="card">
                    <div class="card-header">
                        <img src="{%static 'svg/table.svg' %}" alt="Table Icon" width=20 height=20 />
                        Users
                    </div>

                    <div class="card-body">
                        <table class="dataTable table table-striped table-hover tableresponsive">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Group</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td><a href="{% url 'fund:user_profile' user.username %}"</a>{{user.username}}</td>
                                {% if user.full_name %}
                                <td>{{user.full_name}}</td>
                                {% else %}
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                {% endif %}
                                <td>{{user.groups}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <p class="h3 text-center">Applications for review</p>
                <div class="card">
                    <div class="card-header">
                        <img src="{%static 'svg/table.svg' %}" alt="Table Icon" width=20 height=20 />
                        Applications
                    </div>

                    <div class="card-body">
                        <table class="dataTable table table-striped table-hover tableresponsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Project Name</th>
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for app in completed_applications %}
                            <tr>
                                <td><a href="{% url 'fund:user_profile' app.id %}"</a>{{app.id}}</td>
                                <td>{{app.date_of_application}}</td>
                                <td>{{app.projectTitle}}</td>
                                <td><a href="/review/{{ app.id }}"><button id="review{{ app.id }}" class="btn btn-primary" data-id="{{app.id}}">Review</button></a></td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% endblock %}


{% block javascript_block %}

{% endblock %}
