{% extends 'master_template.html' %}
{% load staticfiles %}
{% load bootstrap5 %}

{% block body_block %}
<main class = "container-fluid pb-3 col-4 border rounded-1">
    <h1 class = "text-center"> Login </h1>
    <form id = "login_form" method ="post" action = "{% url fund:login %}">
        {% csrf_token %}
        {% bootstrap_form user_form bound_css_class='' %}

        <div class = "text-center p-2">
            <p> If you do not have an account yet, <a href = ""> register here. </a>
            <button type= "submit" class="btn btn-primary ben-lg"> Log In </button>
    
    </form>

</main>   
{% endblock %}