{% extends 'fund/base.html' %}
{% load static %}

{%block title_block %}
    Review View
{% endblock %}

{% block body_block %}
<main role="main" class="inner cover">
  <div class="container-fluid">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <h1 class="cover-heading text-center">Review Summary</h1>
          <p class="lead text-center">Completed by <a href="{% url 'fund:user_profile' review.user %}">{{review.user}}</a> on {{ review.date_completed }}
            for Application #<a href="{% url 'fund:view_application_status' review.application.id %}">{{ review.application.id }}</a>
          </p>
      </div>
  </div>
  <hr>

  <div class="container">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Review Summary</h4>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.co_production.label }}</h5>
                  <p>Has this application adequately consulted their user group and demonstrate an understanding of their needs</p>
                  <br>
                  <span id="myspan">{{ review_form.co_production.value }}</span>
                  {% if review_form.co_production.help_text %}
                  <p class="help">{{ review_form.co_production.help_text|safe }}</p>
                  {% endif %}
              </div>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.capacity_building.label }}</h5>
                  <p>The application evidences an understanding of how learning is captured and reflected</p>
                  <br>
                  <span id="myspan">{{ review_form.capacity_building.value }}</span>
                  {% if review_form.capacity_building.help_text %}
                  <p class="help">{{ review_form.capacity_building.help_text|safe }}</p>
                  {% endif %}
              </div>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.partnership_working.label }}</h5>
                  <p>The project has evidenced how they are working in partnership to improve outcomes</p>
                  <br>
                  <span id="myspan">{{ review_form.partnership_working.value }}</span>
                  {% if review_form.partnership_working.help_text %}
                  <p class="help">{{ review_form.partnership_working.help_text|safe }}</p>
                  {% endif %}
              </div>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.climate_environment.label }}</h5>
                  <p>The project understands its impact on the climate and environment and how they manage this</p>
                  <br>
                  <span id="myspan">{{ review_form.climate_environment.value }}</span>
                  {% if review_form.climate_environment.help_text %}
                  <p class="help">{{ review_form.climate_environment.help_text|safe }}</p>
                  {% endif %}
              </div>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.local_economic_res_building.label }}</h5>
                  <p>The project understands how it impacts and benefits the local economy</p>
                  <br>
                  <span id="myspan">{{ review_form.local_economic_res_building.value }}</span>
                  {% if review_form.local_economic_res_building.help_text %}
                  <p class="help">{{ review_form.local_economic_res_building.help_text|safe }}</p>
                  {% endif %}
              </div>
          </div>

          <div class="card-body">
              <div class="card p-3 m-3" style="width: 70rem;">
                  <h5 class="card-title">{{ review_form.social_return_acc.label }}</h5>
                  <p>The project understands how it impacts and benefits the local community</p>
                  <br>
                  <span id="myspan">{{ review_form.social_return_acc.value }}</span>
                  {% if review_form.social_return_acc.help_text %}
                  <p class="help">{{ review_form.social_return_acc.help_text|safe }}</p>
                  {% endif %}
              </div>

              <div class="card-body">
                  <div class="card p-3 m-3" style="width: 70rem;">
                      <h5 class="card-title">{{ review_form.general_feedback.label }}</h5>
                      <p>Feedback from reviewer</p>
                      <br>
                      <span id="myspan">{{ review_form.general_feedback.value }}</span>
                      {% if review_form.general_feedback.help_text %}
                      <p class="help">{{ review_form.general_feedback.help_text|safe }}</p>
                      {% endif %}
                  </div>

          </div>
      </div>

      </div>
    </div>

</main>

{% endblock %}


{% block javascript_block %}
<script>
    const matches = document.querySelectorAll("span#myspan");
    const reqSpan = Array.from(matches).slice(0,6);
    for (var i = 0; i < reqSpan.length; i++) {
        if((reqSpan[i].textContent) === "0"){
            reqSpan[i].textContent= "Red";
        }
        if((reqSpan[i].textContent) === "1"){
            reqSpan[i].textContent= "Amber";
        }
        if((reqSpan[i].textContent) === "2"){
            reqSpan[i].textContent= "Green";
        }

    }

</script>

{% endblock %}
