{% extends 'fund/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block body_block %}
<html>
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <span id="ms" hidden="true">{{app_id}}</span>

            <h1 class="cover-heading text-center">Welcome to your Spend Profile</h1>
            <p class="lead text-center">This is your current Spend Profile, this is where you will report your spending against your proposed budget.
            </p>
        </div>
    </div>
    <hr>
    <div class="container">
    <div class="row form-group" style="margin-top:30px;">
        <div class="col-lg-6">
            <button class="btn btn-block btn-success" id="insert_btn" data-toggle="modal" data-target="#insert_data">Add Item</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-block btn-success" id="update_btn">Edit Items</button>
            <button class="btn btn-block btn-success" id="save_all_btn" style="display:none;margin-top:0px">Save Items</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <div class="alert alert-success" id="upt_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="upt_error" style="display:none">

              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Heading</th>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Spending Evidence</th>
                        <th>Total Spent (£)</th>
                        <th>Budget to be allocated (£)</th>
                        <th>Budget Remaining (£)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.ID }}</td>
                        <td class="editable" data-type="heading">{{ item.heading }}</td>
                        <td class="editable" data-type="item_name">{{ item.item_name }}</td>
                        <td class="editable" data-type="description">{{ item.description }}</td>
                        <td class="editable" data-type="Evidence">{{ item.evidence }}</td>
                        <td class="editable" data-type="money_spent">{{ item.money_spent }}</td>
                        <td class="editable" data-type="budget_allocation">{{ item.budget_allocation }}</td>
                        <td class="editable" data-type="budget_remaining">{{ item.calc_budget_remaining}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="insert_data" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Add Item</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

          <div class="form-group">
              <label>Heading : </label>
              <input type="text" name="heading" id="ins_heading" class="form-control" placeholder="Heading">
          </div>
          <div class="form-group">
              <label>Item Name : </label>
              <input type="text" name="item_name" id="ins_item_name" class="form-control" placeholder="Description">
          </div>
          <div class="form-group">
              <label>Description : </label>
              <input type="text" name="description" id="ins_description" class="form-control" placeholder="Description">
          </div>
           <div class="form-group">
              <label>Evidence : </label>
              <input type="file" id='myFile' name='filename' name="evidence" id="ins_evidence" class="form-control" placeholder="Total Spent">
          </div>
           <div class="form-group">
              <label>Money Spent : </label>
              <input type="number" step="0.01" name="budget_allocation" id="ins_budget_allocation" class="form-control" placeholder="Total Spent">
          </div>
          <div class="form-group">
              <label>Item Budget : </label>
              <input type="number" step="0.01" name="budget_allocation_new" id="ins_budget_allocation_new" class="form-control" placeholder="Total Spent">
          </div>
          <div class="form-group">
              <input type="button" name="submit" class="btn btn-block btn-info btn-insert-data" value="Add Item">
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">

              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
        $(".btn-insert-data").click(function(){

        var app_id = $("#ms").text();
        var heading=$("#ins_heading").val();
        var item_name=$("#ins_item_name").val();
        var description=$("#ins_description").val();
        var money_spent=$("#ins_budget_allocation").val();
        var bP_budget_allocation=$("#ins_budget_allocation_new").val();
        if(heading==""){
            $("#ins_error").text("Please Enter a Heading")
            $("#ins_error").show()
            return;
        }else if(item_name==""){
            $("#ins_error").text("Please Enter a name to identify the item")
            $("#ins_error").show()
            return;
        }else if(description==""){
            $("#ins_error").text("Please Enter a Description")
            $("#ins_error").show()
            return;
        }else if(money_spent==""){
            $("#ins_error").text("Please Enter the money spent")
            $("#ins_error").show()
            return;
        }else if(bP_budget_allocation==""){
            $("#ins_error").text("Please Enter the budget for this item")
            $("#ins_error").show()
            return;
        }else{
                $(".btn-insert-data").attr("disabled","disabled");
                $(".btn-insert-data").text("Adding... Please Wait..");
            $.ajax({
                url:'{% url 'fund:add_item_spend' %}',
                type:'POST',
                data:{app_id:app_id,heading:heading,item_name:item_name,description:description,money_spent:money_spent,bP_budget_allocation:bP_budget_allocation}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    var html_data="<tr><td>"+response['ID']+"</td><td class='editable' data-type='heading'>"+heading+"</td><td class='editable' data-type='item_name'>"+item_name+ "</td><td class='editable' data-type='description'>"+description+ "</td><td class='editable' data-type='budget_allocation'>"+money_spent+"</td><td class='editable' data-type='budget_allocation_new'>"+bP_budget_allocation+"</td></tr>";
                    $(".table tbody").append(html_data);
                }
                else{
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            .always(function(){
                $(".btn-insert-data").removeAttr("disabled");
                $(".btn-insert-data").text("INSERT item");
            })
        }
    })

    $("#update_btn").click(function(){
           $("#update_btn").hide();
           $("#save_all_btn").show();
       $(".editable").each(function(){
           var value=$(this).text();
           var types=$(this).data('type');
           
            if(types=='Evidence'){
                var html_data="<input type='file' id='request.user.id' name='filename' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
            }else if(types=='money_spent'){
                var html_data="<input type='number' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
            }else if(types=='budget_allocation'){
                var html_data="<input type='number' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
            }else{
                var html_data="<input type='text' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
            }
       });
    });

    $("#save_all_btn").click(function(){
        $("#save_all_btn").attr("disabled","disabled");
        $("#save_all_btn").text("Saving Data....");

        var json_data=[];
        $(".input_data").each(function(){
                var value=$(this).val();
                var parent_html=$(this).parent();
                parent_html.html(value);
                $(this).remove();
         });
        $("tbody tr").each(function(){
             var ID=$(this).children().eq(0).text()
             var heading=$(this).children().eq(1).text()
             var item_name=$(this).children().eq(2).text()
             var description=$(this).children().eq(3).text()
             var evidence=$(this).children().eq(4).text()
             var money_spent=$(this).children().eq(5).text()
             var bP_budget_allocation=$(this).children().eq(6).text()

             var single_data={"ID":ID,"heading":heading,"item_name":item_name,"description":description,"evidence":evidence,"money_spent":money_spent, "bP_budget_allocation":bP_budget_allocation};
             json_data.push(single_data);
        });

        var string_data=JSON.stringify(json_data)
        var app_id = $("#ms").text();
        $.ajax({
                url:'{% url 'fund:save_item_spend' %}',
                type:'POST',
                data:{app_id:app_id, data:string_data}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            })
            .always(function(){
                 $("#save_all_btn").removeAttr("disabled");
                 $("#save_all_btn").text("SAVE ALL");
                 $("#update_btn").show();
                 $("#save_all_btn").hide();
            })

    }); 
</script>
</body>
{% endblock %}
</html>