{% extends 'fund/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block body_block %}
<html>
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<div class="container-fluid">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <h1 class="cover-heading text-center">Welcome to your Spend Profile</h1>
            <p class="lead text-center">This is your current Spend Profile, this is where you will report your spending againast your initial budget.
            </p>
        </div>
    </div>
    <hr>
</body>
{% endblock %}
</html>